
<footer>
    <div class="container" id="contactUs">
        <p class="footHead">Useful Links</p>

        <div class="divider"></div>

        <div class="linkContent">
            <div class="fSeg1">
                <h1>Contact us</h1>
                <p>Email us: utsahevents@gmail.com</p>
                <p>Call us: 91-8169597519 / 0986985978</p>
                <p>21 - A, Plasa Talkies,  Ajmer 305001</p>
                <div class="fmap">
                    <iframe id="frame" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d892.8803885987679!2d74.63268873898882!3d26.471147044256718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1668079169050!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="fLine"></div>

            <div class="fSeg2">
                <h1>Navigate to</h1>
                <div class="flexNavTo">
                    <a href="#">Home</a>
                    <a href="#">Services</a>
                    <a href="#">Gallery</a>
                    <a href="#">Contact us</a>
                    <a href="#">About</a>
                </div>

            </div>

            <div class="fLine"></div>


            <div class="fSeg3" id="about">
                <h1>Utsah</h1>
                <p class="introUtsah">A pefect event planner for your wedding. With quality services we are inclined on making your ideas and imagination alive on your joyful moments. Our services are higly customizable so that you only pay for what you need.</p>
                <div class="socialIcons">
                    <div class="social-icon icon1"></div>
                    <div class="social-icon icon2"></div>
                    <div class="social-icon icon3"></div>
                    <div class="social-icon icon4"></div>
                    <div class="social-icon icon5"></div>
                </div>
                <div class="leavesCurve"></div>
            </div>

            <div class="fLine"></div>


            <div class="fSeg4">
                <div class="formContainer">
                    <div class="formImg"></div>
                    <form>
                        <h1>Reach us</h1>
                        <input type="text" placeholder="Enter your name">
                        <input type="text" placeholder="Enter your phone">

                        <button class="submitSeg4">Send</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</footer>

