<div class="modalReach">

    <div class="modalBox">

        <div class="formImg"></div>

        <div class="modalBody">

            <h1>Reach us</h1>
            <form action="/sendform" method="POST">
                <input type="text" name="name" placeholder="Enter your name" maxlength="40">
                <input type="text" name="phone" placeholder="Enter your phone" maxlength="10">
                <input type="email" name="email" placeholder="Enter your e-mail" maxlength="50">

                <button class="ReachSubmit">Send</button>

            </form>
        </div>

        <img class="clsBtn" src="./img/close-button.png" alt="close">

    </div>
</div>
