
<nav class="" >
    <div class="navItemsLeft">
        <div class="logo"></div>

    </div>
    <div class="navItemsRight">
        <ul>
            <a href="#"><li>Home</li></a>
            <a href="#services"><li>Services</li></a>
            <a href="#gallery"><li>Gallery</li></a>
            <a href="#contactUs"><li>Contact us</li></a>
            <a href="#about"><li>About</li></a>
        </ul>
    </div>
    <!--hamburger menu-->
    <button type="button" class="hamburger" id="menu-btn">
        <span class="hamburger-top"></span>
        <span class="hamburger-middle"></span>
        <span class="hamburger-bottom"></span>
    </button>



</nav>
