<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<%- include('./partials/head.ejs') %>
<body>


<%- include('./partials/nav.ejs') %>

<!--mobile menu-->

<div class="mobile-menu hidden" id="menu">
    <ul>

        <li class="menuLinks"><a href="#">Home</a></li>
        <li class="menuLinks"><a href="#services">Services</a></li>
        <li class="menuLinks"><a href="#gallery">Gallery</a></li>
        <li class="menuLinks"><a href="#contactUs">Contact us</a></li>
        <li class="menuLinks"><a href="#about">About</a></li>
    </ul>

    <div class="mobile-menu-bottom">
        <button class="para2btn parabtnJs">Reach us</button>
    </div>
</div>

<section class="video">
    <H1>Video</H1>
</section>

<section class="gallery container" id="gallery">
    <H1 class="revealOnScroll" data-animation="bottom-up">Gallery</H1>

    <div class="imgContainer revealOnScroll" data-animation="left-to-right">
        <div class="imgItem bg1"></div>
        <div class="imgItem bg2"></div>
        <div class="imgItem bg1"></div>
        <div class="imgItem bg1"></div>
        <div class="imgItem bg2"></div>
        <div class="imgItem bg2"></div>

    </div>
    <a href="./portfolio" class="btnMore revealOnScroll">more</a>
</section>

<section class="ribbon revealOnScroll" data-animation="right-to-left">
    <div class="ribbonItem">
        <h2>7+</h2>
        <p>Years of Experience</p>
    </div>
    <div class="ribbonItem">
        <h2>15+</h2>
        <p>Affiliations</p>
    </div>
    <div class="ribbonItem">
        <h2>20+</h2>
        <p>Weddings Planned</p>
    </div>

</section>


<section class="services container" id="services">
    <h1 class="revealOnScroll" data-animation="left-to-right">Our Services</h1>

    <div class="servContent">
        <div class="servImg serv1 revealOnScroll" data-animation="bottom-up">
            <div class="cardTop revealOnScroll" data-animation="right-to-left">
                <div class="cardContent">
                    <h2>Complete Wedding Planning<span class="revealOnScroll" data-animation="left-to-rightLine"></span></h2>

                    <p>This includes every detail of wedding planning.  Just sit back and relax,  and we make your wedding
                        “a memorable one”</p>
                </div>

            </div>

        </div>
        <div class="servImg serv2 revealOnScroll" data-animation="bottom-up">
            <div class="cardTop revealOnScroll" data-animation="left-to-right">
                <div class="cardContent">
                    <h2>Partial Wedding Planning<span class="revealOnScroll" data-animation="left-to-rightLine"></span></h2>

                    <p>If you have already planned some aspects for your wedding and need help with an advice or any services
                        , we have got you covered.</p>
                </div>
            </div>

            <div class="vineImg1"></div>
        </div>
        <div class="vineBackClipper">
            <div class="servImg serv3 revealOnScroll" data-animation="bottom-up">
                <div class="cardTop revealOnScroll" data-animation="right-to-left">
                    <div class="cardContent">
                        <h2>Packages<span class="revealOnScroll" data-animation="left-to-rightLine"></span></h2>

                        <p>We have our best wedding packeges created just for you with the best combination of services.</p>
                    </div>
                </div>


            </div>
            <div class="vineImg2"></div>
        </div>



        <div class="servImg serv4 revealOnScroll" data-animation="bottom-up">
            <div class="cardTop revealOnScroll" data-animation="left-to-right">
                <div class="cardContent">
                    <h2>Venue Booking<span class="revealOnScroll" data-animation="left-to-rightLine"></span></h2>

                    <p>With out tie-ups, you can get extra discounts and offers on venue booking.
                        check out the available venues here. </p>
                </div>
            </div>
            <div class="floralImg"></div>
        </div>
    </div>
</section>

<div class="moreServ revealOnScroll">
    <div class="vinefloral20"></div>
    <div class="vinefloral21"></div>

    <div class='petal petal1'></div>
    <div class='petal petal2'></div>
    <div class='petal petal3'></div>
    <div class='petal  petal4'></div>
    <div class='petal petal5'></div>
    <div class='petal petal6'></div>
    <div class='petal petal7'></div>
    <div class='petal petal8'></div>
    <div class='petal petal9'></div>
    <div class="moreServ2"><h1>For detailed list of services click <a href="#">here</a></h1></div>
</div>


<section class="partners">
    <h1 class="revealOnScroll" data-animation="bottom-up">Our Partners</h1>

    <div class="vineLong revealOnScroll windy"></div>
    <div class="container flexPart">



        <div class="partImg part1 revealOnScroll" data-animation="bottom-up">
            <div class="partTop revealOnScroll" data-animation="right-to-left">
                <div class="partContent">
                    <h2>Jai Bhola Catering</h2>


                </div>

            </div>

        </div>

        <div class="partImg part2 revealOnScroll" data-animation="bottom-up">
            <div class="partTop revealOnScroll" data-animation="right-to-left">
                <div class="partContent">
                    <h2>Pixel Photography</h2>


                </div>

            </div>

        </div>

        <div class="partImg part3 revealOnScroll" data-animation="bottom-up">
            <div class="partTop revealOnScroll" data-animation="right-to-left">
                <div class="partContent">
                    <h2>GemArt Printing</h2>


                </div>

            </div>

        </div>
    </div>

</section>



<section class="testimonials">
    <div class="testDesign1 revealOnScroll" data-animation="windy"></div>
    <div class="testDesign2 revealOnScroll" data-animation="windy"></div>
    <h1 class="revealOnScroll gold" data-animation="bottom-up">Testimonials</h1>
    <div class="testimentsContainer revealOnScroll" data-animation="bottom-up">
        <div class="indicator">
            <span class="testbtn active"></span>
            <span class="testbtn"></span>
            <span class="testbtn"></span>
        </div>
        <div class="slideCover revealOnScroll" data-animation="bottom-up">

            <div class="slide-row" id="slide">
                <div class="slide-col">
                    <div class="personImg revealOnScroll" data-animation="top-down"></div>
                    <div class="personText">
                        <p>Hitesh is a best person to work with ...he is easily approachable everyone & vry accomodating of every detail we wanted during planning & even at tym of wedding rituals...best team..fantastic id...”</p>
                        <p class="persName">~Prashant Issrani</p>
                    </div>
                </div>

                <div class="slide-col">
                    <div class="personImg revealOnScroll" data-animation="top-down"></div>
                    <div class="personText">
                        <p>Hitesh is a best person to work with ...he is easily approachable everyone & vry accomodating of every detail we wanted during planning & even at tym of wedding rituals...best team..fantastic id...”</p>
                        <p class="persName">~Prashant Issrani</p>
                    </div>
                </div>

                <div class="slide-col">
                    <div class="personImg revealOnScroll" data-animation="top-down"></div>
                    <div class="personText">
                        <p>Hitesh is a best person to work with ...he is easily approachable everyone & vry accomodating of every detail we wanted during planning & even at tym of wedding rituals...best team..fantastic id...”</p>
                        <p class="persName">~Prashant Issrani</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<section class="parallax">
    <div class=""></div>
    <div class="paraContain">
        <div class="paraContent revealOnScroll" data-animation="bottom-up">
            <div class="paraFlower"></div>
            <h1 class="paraHead">Your imagination live</h1>
            <h1>with the best in class service</h1>
            <p>Lets make your event filled with colours of joy and ecstasy, make every moment last forever in your memory with our top-notch event services.</p>
            <span class="parabtn parabtnJs">Get Started</span>
        </div>
    </div>
    <div class="flowersmall"></div>

</section>

<%- include('./partials/footer.ejs') %>

<%- include('./partials/modalreach.ejs') %>


</body>
</html>